<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.springboot.ali.mapper.TopPopMapper">

    <select id="getPopList" parameterType="java.util.HashMap" resultType="com.example.springboot.ali.entity.topPopIndex">
        select * from topPopFood
        where 1=1
        <if test="cityNameone != null">
            and city_name = #{cityNameone}
        </if>
        <if test="cityNametwo != null">
            and city_name = #{cityNametwo}
        </if>
        <if test="cityNamethree != null">
            and city_name = #{cityNamethree}
        </if>
        <if test="cityNamefour != null">
            and city_name = #{cityNamefour}
        </if>

        <if test="foodName != null">
            and foodname=#{foodName}
        </if>
    </select>
</mapper>
