<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.springboot.ali.mapper.TopAvgpayMapper">

    <select id="getTopPays" resultType="com.example.springboot.ali.entity.topAvgPay">
        select * from top10_avgpay
    </select>


</mapper>
